*.Rproj
*.DS_store
experiment/*test*
experiment/old_experiment
analysis/test*
analysis/expt/raw_data
.Rproj.user
analysis/.Rproj.user/shared/notebooks/paths
code/.DS_Store
code/3_analysis/.DS_Store
data/.DS_Store
